html,body {
	font-family: 'Slabo 27px', serif;
	background-color: #f0f0f0;
}

#directpayMenu{
	width: 100%;
	height: 10%;
	font-size: 35px;
}

#undirectpayMenu{
	width: 100%;
	height: 10%;
	font-size: 35px;
}

#directpayMenuTable{
	width: 100%;
	height: 10%;
	font-size: 35px;
}

#undirectpayMenuTable{
	width: 100%;
	height: 10%;
	font-size: 35px;
}

.buttonMenu{
	width: 100%;
	height: 10%;
	font-size: 35px;
}

#transactionlistMenu{
	width: 100%;
	height: 10%;
	font-size: 35px;
}

.navbar-default .navbar-nav>li>a{
	color: #f0f0f0 !important;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #000000 !important;
}